//
// MDC Theme
//
@import "@material/typography/mdc-typography";
@import "@material/theme/color-palette";

// Svelte Colors!
$mdc-theme-primary: #3D3B78;
$mdc-theme-secondary: #676778;
$mdc-theme-background: #fff;
//$mdc-theme-surface: #000;
$mdc-theme-error: $material-color-red-900;

//https://material.io/develop/web/components/shape/
$mdc-shape-small-component-radius: 0;
$mdc-shape-medium-component-radius: 0;
$mdc-shape-large-component-radius: 0;